html,
body,
h1 {
    margin: 0;
    padding: 0;
}

.banner_wrapper{
    /* box-sizing:border-box; */
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: aqua;
    color: blue;
}

.section-heading{
    background-color:brown;
}
