@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 500;
}

body{
    width: 100%;
    display:flex;
    justify-content: center;
    /* background-color: #DFCFBF; */
}

.survey-wrapper{
    width:50vw;
    /* background-color: #DFCFBF; */
    /* border:#606C38 solid 1vh; */
    border-radius: 1vh;
    height:50vh;
    max-height: 70vh;
    overflow-y: auto;
    padding: 6vh 6vh 0vh 6vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 25%;
    justify-content: flex-start;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.option-label{
    display: inline-flex;
    align-items: center;
    margin-left: 3vw;
    font-size: 2vh;
    cursor: pointer;
    position: relative;
    padding-left: 2vh;
    padding-bottom: 2vh;
}

.option-label::before {
    content: '';
    position: absolute;
    width: 2.5vh;
    height: 2.5vh;
    left:0;
    transform:translateX(-100%);
    border-radius: 50%;
    border:#606C38 solid;
    background-color: transparent;
    transition: background-color 0.2s, border-color 0.2s;
}

.survey-input:checked + .option-label::after{
    content: '';
    /*for checkmark:  \2713 */
    position: absolute;
    width: 1vh;
    height: 1vh;
    left:0;
    background-color: #606C38;
    transform:translate(-220%, 0%);
    font-size: 2vh;
    color:#606C38;
    border-radius: 50%;
    font-weight:900;
}

.survey-input{
    display: none;
}

#questions-form{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
}

.question{
    padding: 1vw 2vh;
    height: 7vh;
    user-select: none;
}

#question-title{
    text-align: center;
    height:10vh;
    padding-bottom: 1vh;
    font-size: 2.5vh;
    font-weight: 800;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: auto;
    user-select: none;
}

#start-button {
    width: 50%;
    padding: 2vh 2vh;
    background-color: #606C38;
    border: none;
    border-radius: 5vh;
    color: white;
    font-size: 2vh;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(50%) translateY(-160%);
    text-align: center;
    box-sizing: border-box;
}

#starting-text {
    position: absolute;
    width:100%;
    text-align: center;
    top:50%;
    left:50%;
    /* font-size: 3vh; */ 
    transform:translate(-50%, -80%);
    user-select: none;
}

#starting-text h2{
    font-weight: 800;
    padding-bottom: 1vh;
}

.result-p{
   text-align: center;
   font-size: 2.5vh;
   user-select: none;
}

#result-b-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    position: absolute;
    left:0;
    top:50%;
}

.result-b {
    width: 50%;
    margin:0.5vh;
    padding: 1vh 1vw;
    background-color: transparent;
    border: none;
    border-radius: 3vh;
    color: #606C38;
    font-size: 2vh;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

#again-p {
    padding-top: 4vh;
    font-size: 2vh;
    user-select: none;
}

#ctn-btn {
    width: 50%;
    margin:2vh 1vh;
    padding: 2vh 1vw;
    background-color: #606C38;
    border: none;
    border-radius: 3vh;
    color: white;
    font-size: 2vh;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-55%, -170%);
}

#goal-select-wrap{
    width: 50%;
    margin:0.5vh;
    padding: 2vh;
    border-radius: 3vh;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    :focus{
        outline: none;
    }
}

#goal-select{
    border: none;
    background-color: transparent;
    color: #606C38;
    font-weight: 600;
    font-size: 2vh;
    width: 100%;
    cursor: pointer;
    text-overflow: ellipsis;
}

#choose-ctn-btn{
    width: 50%;
    margin:1vh;
    padding: 2vh 1vw;
    background-color: #606C38;
    border: none;
    border-radius: 3vh;
    color: white;
    font-size: 2vh;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}