body {
    margin: 0;
}

#home-content {
    width: 100%;
    height: 100%;

    margin: auto;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
}



#garden-container {
    width: 100%;
    height: 480px;

    max-width: 600px;
    min-width: 360px;

    margin: auto;

    border: 5px black solid;

    position: relative;
}

#garden-background {
    width: 100%;
    height: 100%;

    position: absolute;

    background-color: rgb(116, 218, 252);
}

#garden-ground {
    width: 100%;
    height: 220px;

    position: absolute;
    bottom: 0;

    background-color: rgb(155, 230, 105);
}

#garden-fence {
    width: 100%;
    height: 150px;

    position: absolute;
    bottom: 220px;

    background-color: rgb(240, 230, 185);
}

#garden-building {
    width: 250px;
    height: 250px;

    position: absolute;
    right: 0;
    bottom: 180px;

    background-color: rgb(115, 80, 65);
}

#garden-rightObject {
    width: 100px;
    height: 150px;

    position: absolute;
    right: 5%;
    bottom: 80px;

    background-color: rgb(170, 160, 180);
}

#garden-leftObject {
    width: 100px;
    height: 150px;

    position: absolute;
    left: 10%;
    bottom: 30px;

    background-color: rgb(170, 160, 180);
}

#garden-shelf {
    width: 220px;
    height: 120px;

    padding: 0px 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    position: absolute;
    left: 5%;
    bottom: 150px;

    background-color: rgb(175, 105, 90);
}

.garden-plant {
    width: 60px;
    height: 60px;

    position: relative;
    

    background-color: rgb(165, 185, 105);
}

.garden-plant#one {
    bottom: 40%;
}

.garden-plant#two {
    bottom: 40%;
}

.garden-plant#three {
    bottom: 40%;
}

.garden-plant#four {
    bottom: 35%;

    background-color: rgb(100, 135, 70);
}

.garden-plant#five {
    bottom: 35%;

    background-color: rgb(100, 135, 70);
}

.garden-plant#six {
    bottom: 35%;

    background-color: rgb(100, 135, 70);
}

#garden-weather {
    width: 100%;
    height: 100%;

    position: absolute;

    background-color: rgba(150, 220, 190, 0.3);
}


#task-list {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}